.page-header {
  background-size: cover;
  background-position: 50% 50%;
  background-color: @color-p500;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @color-light100;
  &-content {
    text-align: center;
    width: 70vw;
    min-width: 320px;
    max-width: 1400px;
    padding-top: 2rem;
  }
  h1 {
    margin: 0 0 2rem;
    letter-spacing: -.03em;
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

article {
  margin: 3rem 0;
  h1, h2, h3, h4, h5, p, ul, ol {
    max-width: calc(33rem + 10vw);
    margin-left: auto;
    margin-right: auto;
    padding: 0 5vw;
  }
  p, ul, ol {
    margin-bottom: 1.5rem;
  }
  ul, ol {
    padding-left: calc(5vw + 2rem);
  }
  h3 {
    margin-top: 5rem;
  }
  > .section:first-child {
    margin-top: -3rem;
  }
  > .section:last-child {
    margin-bottom: -3rem;
  }
}

.modules-list {
  max-width: calc(33rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  border-radius: .25rem;
  border: 1px solid @color-p900;
  padding: 0;
  box-shadow: @shadow;
  background: @color-p500;
  color: @color-dark100;

  h3 {
    padding: 1rem;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid @color-p700;
    li {
      border-top: 1px solid @color-p700;
      padding: .5rem 1rem .5rem 4rem;
      position: relative;
      *[class*=fa] {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: @color-dark75;
      }
      p {
        margin-bottom: .5rem;
      }
    }
  }
  a {
    color: @color-light100;
  }

  &-read-more {
    font-size: @text-14;
    margin: .5rem 1rem;
    a {
      color: @color-dark75;
      text-decoration: none;
    }
  }
}
