.module-card {
  &-wrapper {
    margin: 0 auto;
    width: 98vw;
    max-width: 1640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .paper;
  position: relative;
  padding: 1rem 1rem 3rem;
  margin: .5rem;
  width: 17rem;
  min-height: 17rem;

  &-more-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 0.5rem;
    background-color: @color-s200;
    border-radius: 0 0 calc(@rounded - 1px) calc(@rounded - 1px);
  }

  *[class*=fa-] {
    margin-bottom: 3rem;
  }

  img {
    width: calc(17rem - 2px);
    max-width: none;
    height: auto;
    margin: -1rem -1rem 1rem;
    border-radius: calc(@rounded - 1px) calc(@rounded - 1px) 0 0;
    display: block;
  }
}

/*! purgecss start ignore */
body.post-type-archive-module, body.post-type-archive-use-case {
  background-color: @color-s400;
}
/*! purgecss end ignore */

// Slick Slider - used on front page modules block

.slick-arrow {
  position: absolute;
  z-index: 3000;
  top: 40%;
  margin-top: -2rem;
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  cursor: pointer;
  color: @color-s800;
  background: @color-light70;
  transition: background .3s ease;
  &:hover {
    background: @color-light100;
  }
  &-next {
    right: 1vw;
  }
  &-prev {
    left: 1vw;
  }
}
.slick-dots {
  padding: 0 0 2rem;
  margin: 0;
  text-align: center;
  > li {
    list-style: none;
    color: rgba(0,0,0,0);
    background: @color-s400;
    display: inline-block;
    margin: .5rem;
    width: .75rem;
    height: .75rem;
    border-radius: 1rem;
    &.slick-active {
      background: @color-s800;
    }
  }
}
