blockquote {
  .leading;
  font-style: italic;
  margin: 0 0 2rem;
  text-align: center;
}

.quotee {
  &-img {
    width: 4rem;
    height: auto;
    border-radius: 4rem;
    vertical-align: middle;
    margin: -1rem auto 0;
  }
}
